body {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.ui.menu {
  border-bottom: 0 none !important;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif !important;
  margin: 10px;
}
