body {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.ui.secondary.menu {
  border-bottom: 0 none !important;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif !important;
}

.marker {
  /* background-image: url('mapbox-icon.png'); */
  /* background-size: cover; */
  background: rgb(53, 179, 191, 0.85);
  border: 0.25px solid black;
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  border-radius: 50% 50% 0 50% !important;
  position: absolute;
}

label {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.markerBox {
  width: 50vw;
  height: 20vw;
  border-radius: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
}

.mapboxgl-popup-content {
  background: rgb(255, 255, 255, 0.9) !important;
}
